<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
        table#pdfCabezera{
            width: 600px;
            text-align: center;
        }

        table{
            width: 600px;
        }
    </style>
    <div class="container">
        <table id="pdfCabezera" border="1">
            <tr>
                <td>Imagen</td>
                <td id="texto">JUSTIFICANTE DE RESERVA</td>
            </tr>
        </table>
        <h1>RESERVA ID</h1>
        <p><strong>paco</p>
        <table border="1">
            <tr>
                <td class="vistapdfcolumna1">NOmbre</td>
                <td>Apellido</td>
            </tr>
            <tr>
                <td class="vistapdfcolumna1">NOmbre</td>
                <td>Apellido</td>
            </tr>
        </table>
    </div>
</body>
</html>